@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    behavior: smooth;
}

#home {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-image: url(image/dancemain.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar {
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.musiclogo
{
    text-align: center;
    color: #fff;
    padding: 0px 20px;
}

.ulist{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
}

.ulist li
{
    text-transform: uppercase;
    margin: 5px 10px;
    padding: 5px 10px;
}

.ulist li a {
    color: #fff;
}

.ulist li:hover a {
    color: red;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    transition: 0.6s;
}

.searchicn {
    margin: 10px 20px;
    color: #fff;
}

.maincont
{
    width: auto;
    padding: 15px 30px;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50px;
}

.mainhd {
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}

.mainpara {
    width: 500px;
    padding: 2px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #fff;
}

.btn{
    padding: 3px;
    margin: 20px 0px;
}

.btn button {
    display: block;
    background: orangered;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px 15px;
    transition: 0.9s;
    color: #fff;
}

.btn button:hover {
    transform: scale(1.2);
    background-color: #fff;
    color: orangered;
}

/* *********dance tour********* */

#dancecategory{
    width: 100%;
    padding: 30px;
    background: orangered;

}

.dancehd ,.promohd , .abouthd , .about2hd , .subhd
{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #fff;
    margin: 10px 0;
}

.dancepara , .promopara , .aboutpara , .subpara
{
    width: 65%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #fff;
    margin: 7px 0;
    margin: auto;
}

.dancecont , .promocont{

    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    /* background: crimson; */

}

.danceprt{
    width: calc(100%/3 - 20px);
    padding: 5px;
    background: lightcyan; 
}

.img {
    width: 100%; 
    position: relative;
    /* padding: 10px 0; */
}

.img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.imgcontent{
    width: 100%;
    padding: 1px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
}

.dancecategory1 h4{
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
}



/* ******promo part******* */
#promo{
    width: 100%;
    background-color: black;
    padding: 20px;
}


.prize {
    width: calc(100% / 3 - 10px);
    background: orangered;
    padding: 15px;
    margin: 10px 0;
}
.promoicn
{
    text-align: center;
}
.prize i {
    text-align: center;
}

.prize i {
    color: #fff;
}

/* ********about part************ */

#about{
    width: 100%;
    background-color: black;
    padding: 20px;
}

.aboutbg{width: 100%; padding: 10px; margin: auto; margin-top: 100px;}

.abt {
    width: 100%;
    /* background-color: #fff; */
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.abtpart{
    width: calc(100% / 3 - 10px);
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    /* background-color: bisque; */
}

.abtpart h5 {
    color: #fff;
    font-size: 30px;

}

.abtpart h6 {
    color: #fff;
    font-size: 14px;
}

#about2{
    width: 100%;
    /* background-color: brown; */
    padding: 20px;
    height: 100vh;
    background-image: url(image/dancemain2.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}

.bgpara {
    width: 900px;
    margin: 20px 0;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: center;
    margin: auto;
}

.about2hd
{
    color: black;
}

#about2 h3 {
    margin-bottom: 50px;
    margin-top: 5px;
}

/************************************* subscribe part ****************************/
#sub{
    width: 100%;
    padding: 30px;
    display: flex;
    background-color: orangered;
}

.subbox {
    width: 800px;
    margin: auto;
    padding: 15px;
    /* background: grey; */
}

.subpart {
    width: 80%;
    padding: 10px 60px;
    display: flex;
    outline: none;
    margin: auto;
    margin-top: 20px !important;
    /* background: lightseagreen; */
}

.inpt{width: 70%;}

.btn{width: 30%;}

.subpart input {
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    color: black;
    /* border-right: none; */
    border-radius: 5px;
}

.subpart button {
    width: 100%;
    display: block;
    background: black;
    font-size: 16px;
    padding: 0 15px;
    text-align: center;
    transform: 0.6s;
    color: #fff;
    transition: 0.7s;
    /* border-left: none; */
    border-radius: 5px;
}

.subpart button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: black;
}

/* ******contact us********** */

#contact{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(9, 10, 10);
}

.ftrcontainer{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.ftr
{
    width: calc(25% - 10px);
    margin: 10px 0;
    padding: 10px;
    /* background: blue; */
}

.ftr1
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.ftr1 h3 {
    color: #fff;
    margin-bottom: 4px;
    text-align: center;
    font-size: 22px;
}


.prt1
{
    width: 100%;
    /* background: green; */
}

.prt1a
{
    display: flex;
    justify-content: space-around;
}

.line {
    width: 130px;
    height: 5px;
    background: rgb(129, 6, 16);
    margin: 5px auto;
    border-radius: 50%;
}

.prt1 i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-left:5px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
.prt1 a{
    color: black;
}
.ftr ul {
    margin-top: 10px;
}

.ftr ul li {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}


.ftr p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 6px;
}
.ftr h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 4px;
    font-size: 22px;
}

.prt {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    display: flex;
    align-items: center; 
    justify-content: center;

}

/* *********media query********** */
@media (max-width:980px)
{
    
    .dancecont , .abt
    {
        flex-direction: column;
        align-items: center;
    }
    
    .abtpart , .danceprt
    {
        width: 100%;
        margin-bottom: 15px;
    }

    /* .ftr 
    {
        width: calc(50% - 10px);
    } */

    .prize
    {
        margin-bottom: 20px;
        width: 100%;
         padding: 0 30px;
     } 

     .prt1 i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin-left:5px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
    }

}

@media (max-width:685px) 
{

    .navbar 
    {
        flex-direction: column;
        align-items: center;
    }

    .ulist{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-top: 10px;
    }

    .search 
    {
        margin-bottom: 10px;
    }

    .musiclogo 
    {
        margin-top: 10px;
    }

    .searchicn i , .musiclogo h1 , .musiclogo i
    {
        font-size: 20px;

    }
    .prt1 i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
        margin-left:5px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
    }
}

@media (max-width:580px)
{
    .subpart
    {
        margin-left: -3px;
    }

    .ftrcontainer{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }

    .dancecont , .promocont{

        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        /* background: crimson; */
    
    }

}